.play-button {
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  font-size: 35px;
  padding: 7px;
  cursor: pointer;
}

.play-button path {
  color: var(--accent-color);
}
