.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  color: var(--text-color);
  border: solid 1px var(--primary-bg-color);
  border-radius: 5px;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-bg-color);
}
.card__description {
  overflow: hidden;
}
