.playlist {
  max-height: 355px;
  overflow: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
.playlist li {
  cursor: pointer;
  color: white;
  font: 12px;
  margin: 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.playlist li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.playlist.hidden {
  display: none;
}
li.playlist__current-song {
  color: var(--accent-color);
}

@media screen and (min-width: 576px) {
  .playlist {
    max-height: 400px;
  }
}
