header {
  width: 100%;
  border-bottom: 1px solid grey;
  background-color: red;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
  max-width: 1200px;
}

.header__link {
  padding: 5px;
  margin: auto 10px;
}
