header {
  width: 100%;
  background-color: var(--secondary-bg-color);
  /* border-bottom: 1px solid #002233; */
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
  max-width: 1200px;
}

.header__link {
  padding: 10px 12px;
  margin: auto 5px;
  /* color: rgba(200, 200, 200, 1); */
  color: var(--accent-color);
  text-decoration: none;
  border-radius: 4px;
}
.header__link.active {
  background-color: var(--primary-bg-color);
}
