.son-page {
  padding: 0 15px;
  max-width: 992px;
  margin: auto;
}
.song-page__back-button-container {
  margin: 15px 0 30px;
}
.song-page__back-button {
  border: 1.5px solid salmon;
  border-radius: 4px;
  background-color: transparent;
  font-size: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.song-page__back-button path {
  color: salmon;
}
.song-page__content-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  gap: 20px;
}
.song-page__img {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  position: relative;
}
.song-page__play-btn-container {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

@media screen and (min-width: 576px) {
  .song-page__img {
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .song-page__img {
    height: 400px;
  }
  .song-page__img__btn {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .song-page__img {
    height: 500px;
  }
}
